@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400&family=Montserrat:wght@300;400&display=swap");
.contact {
  text-align: center;
  padding: 60px 20px;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact .tel a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
